verdoso = #1ABC9C
verdoso2= #2ecc71
azul =#34C6CD
azul_suave=#008fd5
azul_suave2=#008cba
azul_fuerte= #3B5998
naranja=#e74c3c
amarillo=#ffcc05
gris= #213338
rojo=#df4639
marron= #efeee5
casi_gris=#f9f9f9
fondo_gris= #e0e0e0
borde_gris=#cccccc
azul_btn=#007196;

@font-face {
	font-family: 'iconos';
	src:url('../fonts/icomoon.eot?-ng9f0');
	src:url('../fonts/icomoon.eot?#iefix-ng9f0') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-ng9f0') format('woff'),
		url('../fonts/icomoon.ttf?-ng9f0') format('truetype'),
		url('../fonts/icomoon.svg?-ng9f0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

html
	height:100%;
	margin 0

body
	border 0px
	margin 0
	font-family: sans-serif;
	font-size 15.4px
	background fondo_gris
	height:100%;


	
	
.btn
	//background red
	color white
	font-size 16px
	font-weight normal
	text-decoration none
	padding .2em
	margin 1
	&.btn_aceptar
		font-weight bold
		font-size 14px
		padding 0.5em
		background verdoso2
		border 1px solid verdoso
		&:before
			font-family "iconos"
			content "\e618"	
	&.btn_eliminar
		background red
		&:before
			font-family "iconos"
			content "\e61b"	
	&.btn_editar	
		color white
		&:before
			font-family "iconos"
			content "\e601"
	&.btn_editar_azul
		background azul_suave
		&:before
			font-family "iconos"
			content "\e601"
	&.btn_agregar
		background white
		color gris
		font-weight bold
		font-size 14px
		padding  0.3em	
		&:before
			font-family "iconos"
			content "\e621"
		
	&.btn_ver
		background white
		color gris
		font-weight bold
		font-size 14px
		padding  0.3em	
		&:before
			font-family "iconos"
			content "\e647"
	&.btn_buscar
		background white
		color gris
		font-weight bold
		font-size 14px
		padding  0.3em	
		&:before
			font-family "iconos"
			content "\e64e"

.icon-archivero
		color white
		font-size 16px
		font-weight normal
		text-decoration none
		&:before
			font-family "iconos"
			content "\e60a"
	&.icon-nuevo
		font-size 14px
		&:before
			font-family "iconos"
			content "\e621"
	&.icon-cubiertos
		font-size 14px
		&:before
			font-family "iconos"
			content "\e623"
		
select
	height 28px


.titulo_menu
		
		font-size 18px
		font-weight bold
		height 1.7em
		color white
		&.titulo_mesas //hereda de titulo mesas
			background azul_suave
		&.titulo_productos //hereda de titulo mesas
			background gris
		
		
.mesa_disponibilidad
			background verdoso2
			color white
			font-weight bold

//CSS PARA TABLAS
.table_menu
	background white
	font-weight bold
	width 98.5%
	margin 0.5%
	margin-top 3px
	border 1px solid gris		
	.table_head
		color white
		border 1px solid white
		tr
			th
				height 2em
				font-size 18px
				background gris
				border 1px solid gris
			td
				background verdoso2		
				border 1px solid gris
				font-size 16px
				height 1.5em	
				
		&.table_head_gris
			tr
				th
					height 1.5em
					background gray
					color white
				td
					background marron
					color gris
		&.table_head_verde
			tr
				th
					background azul_btn
					color white
				td
					background verdoso
					color gris
					border 1px solid gris
	.table_body
		tr
			td
				background white
				border 1px solid gris
				height 2em		
		.fila_par
			td
				background casi_gris
				
		.fila-secundaria
			td
				background azul_suave
				color white	
				border 1px solid gris
				font-size 16px
				height 1.7em
				
			&.fila_verde
				td
					background verdoso
					
			&.fila_verdoso
				td
					background verdoso2
		.fila_boton
			td
				height 3em
	
		&.table_body_secundario
			tr
				td
					height 1.8em
					font-weight normal
		&.body_form//aqui para quitar los bordes internos de la tabla para formularios
			tr
				td
					border 0	
			.fila_espacio
			td
				border 1px solid gris		

	



.select_categoria
	color gris
	height 1.6em
.select_formulario
	color gris
	width 90%
	font-weight normal
	margin-top 5px
	margin-bottom 5px
	
.input_formulario
	color gris
	font-weight normal
	margin-top 5px
	margin-bottom 5px
	width 90%
	
.input_busqueda
	color gris
	height 1.2em
			
.nav_busqueda
	font-weight bold
	width 98.5%
	margin 0.5%
	margin-top 3px
	height 2.5em
	font-size 15px
	color white
	background gris
	padding 0
	ul 
		margin 0
		li
			margin-top 8px
			display inline-block
			margin-left 10px
		.li-categoria
			margin-left 0px
			position absolute
			
		.li-buscar
			margin-left 300px
		.li-botonera
			margin-left 5%
			
	
				
.secciones
	margin-left 2.5%
	width 95%
	height 25%
	//border 1px solid black
	margin-bottom 3%	
	margin-top 2%	
.submenu
	height 60%	
	margin-bottom 50%
	//border 1px solid gris
.menu
	text-align center
	background white
	height 94%
	margin 0.3%

	&.Menu_Mesas //hereda de menu
		float left
		width 30.4%
		height 94%
	&.Menu_Productos //hereda de menu
		margin-right 0%
		border 1px solid borde_gris
		float left
		width 20.4%	
	&.categoria_productos //hereda de menu
		margin 0.3%
		margin-left 0%
		border 1px solid borde_gris
		float right
		text-align center
		width 78.5%
		height 94%
	
.mapa_mesas
	background white
	margin 0.3%
	margin-left 0%
	border 1px solid borde_gris
	float right
	text-align center
	width 68.5%
	height 94%
	
	table
		tr
			td
				margin 10px
				display: inline-block;
				padding 0.5em
				text-align center
				font-size 50px
				background naranja
				width 100px
				height 100px
				border 4px solid azul
				border-radius 30px
				&:after
					color white
					font-family "iconos"
					content "\e611"	
				
				
				

		
		
.nav_principal
	background verdoso
	margin 0
	border-bottom 1px solid black
	//margin-bottom 2px
	
	
	.menu_nav	
		
		margin 0
		overflow hidden
		
	
		.li-logo
			margin-right 40px
				
		.sesion
			margin-left 40%
			right 80px
			top 3px
			position absolute
			
		li	
			
			display inline-block
			//font-weight bold
			
			
			a
				//border 1px solid red
				color white
				padding 0.7em
				margin 0 0.8em
				text-decoration none
				display inline-block
		
				span
						//font-weight bold
			//clases para colocar los inconos del menu
			.icon-inicio
				&:before
					color white
					font-size 1.2em
					font-family "iconos"
					content "\e600"	
						
			.icon-restaurant
				&:before
					font-family "iconos"
					content "\e611"	
					
			.icon-productos
				&:before
					font-family "iconos"
					content "\e602"	
			.icon-reportes
				&:before
					font-family "iconos"
					content "\e604"	
			.icon-config
				&:before
					font-family "iconos"
					content "\e60d"	
	
			.icon-sesion
				&:before
					font-family "iconos"
					content "\e60b"
				&:after
					font-family "iconos"
					content "\e61e"
			


		
/* CSS PARA PRODUCTOS*/


				
				
		
			
		
