verdoso = #1ABC9C
verdoso2= #2ecc71
azul =#34C6CD
azul_suave=#008fd5
azul_fuerte= #3B5998
naranja=#e74c3c
amarillo=#ffcc05
gris= #213338
rojo=#df4639
@font-face {
	font-family: 'iconos';
	src:url('../fonts/icomoon.eot?-i1ixs1');
	src:url('../fonts/icomoon.eot?#iefix-i1ixs1') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-i1ixs1') format('woff'),
		url('../fonts/icomoon.ttf?-i1ixs1') format('truetype'),
		url('../fonts/icomoon.svg?-i1ixs1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body
	border 0px
	font-family Arial
	font-size 15.4px

.btn
	font-size 17px
	border-radius 5px
	border 1px solid azul
	background verdoso2
	color white
	font-weight bold
	
select
	height 32px
	
.titulo_mesas
		
		font-size 18px
		font-weight bold
		background azul_suave
		height 1.7em
		color white
		
.mesa_disponibilidad
			background verdoso2
			color white
			font-weight bold
	
.menu_mesas

	border-right 2px solid azul
	width 20%
	height 900px
	float left
	text-align center


	
	.form_mesas
		table
			width 100%
			text-align center
			
		tr
			
			select
				text-align center
				width 100%
		td
			
			border 1px solid white
			padding 1.5%
			label
				font-weight bold				
			textarea
				width 99%
	
	
.mapa_mesas
	
	table
		tr
			td
				margin 10px
				padding 0.5em
				text-align center
				font-size 50px
				background naranja
				width 100px
				height 100px
				border 4px solid azul
				border-radius 30px
				&:after
					color white
					font-family "iconos"
					content "\e611"	
				
				
				
			
		
		
nav
	background verdoso
	margin 0
	//border-bottom 2px solid naranja
	//margin-bottom 2px
	
	
	.menu	
		
		margin 0
		overflow hidden
		
	
		.li-logo
			margin-right 40px
				
		.sesion
			margin-left 40%
			right 80px
			position absolute
			
		li	
			
			display inline-block
			//font-weight bold
			
			
			a
				//border 1px solid red
				color white
				padding 0.7em
				margin 0 0.8em
				text-decoration none
				display inline-block
			
			//clases para colocar los inconos del menu
			.icon-inicio
				&:before
					color white
					font-size 1.2em
					font-family "iconos"
					content "\e600"	
						
			.icon-restaurant
				&:before
					font-family "iconos"
					content "\e611"	
					
			.icon-productos
				&:before
					font-family "iconos"
					content "\e602"	
			.icon-reportes
				&:before
					font-family "iconos"
					content "\e604"	
			.icon-config
				&:before
					font-family "iconos"
					content "\e60d"	
			.icon-sesion
				&:before
					font-family "iconos"
					content "\e60b"
				&:after
					font-family "iconos"
					content "\e61e"


		
				
				
				
		
			
		
