@font-face {
  font-family: 'iconos';
  src: url("../fonts/icomoon.eot?-ng9f0");
  src: url("../fonts/icomoon.eot?#iefix-ng9f0") format('embedded-opentype'), url("../fonts/icomoon.woff?-ng9f0") format('woff'), url("../fonts/icomoon.ttf?-ng9f0") format('truetype'), url("../fonts/icomoon.svg?-ng9f0#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
  margin: 0;
}
body {
  border: 0px;
  margin: 0;
  font-family: sans-serif;
  font-size: 15.4px;
  background: #e0e0e0;
  height: 100%;
}
.btn {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  padding: 0.2em;
  margin: 1;
}
.btn.btn_aceptar {
  font-weight: bold;
  font-size: 14px;
  padding: 0.5em;
  background: #2ecc71;
  border: 1px solid #1abc9c;
}
.btn.btn_aceptar:before {
  font-family: "iconos";
  content: "\e618";
}
.btn.btn_eliminar {
  background: #f00;
}
.btn.btn_eliminar:before {
  font-family: "iconos";
  content: "\e61b";
}
.btn.btn_editar {
  color: #fff;
}
.btn.btn_editar:before {
  font-family: "iconos";
  content: "\e601";
}
.btn.btn_unir {
  color: #fff;
}
.btn.btn_unir:before {
  font-family: "iconos";
  content: "\e621";
}
.btn.btn_editar_azul {
  background: #008fd5;
}
.btn.btn_editar_azul:before {
  font-family: "iconos";
  content: "\e601";
}
.btn.btn_cobrar {
  background: #008fd5;
  padding: 0.3em;
}
.btn.btn_cobrar:before {
  font-family: "iconos";
  content: "\e61d";
}
.btn.btn_agregar {
  background: #008fd5;
  padding: 0.2em;
}
.btn.btn_agregar:before {
  font-family: "iconos";
  content: "\e621";
}
.btn.btn_ver {
  background: #008fd5;
  padding: 0.2em;
}
.btn.btn_ver:before {
  font-family: "iconos";
  content: "\e647";
}
.btn.btn_buscar {
  background: #008fd5;
  padding: 0.2em;
}
.btn.btn_buscar:before {
  font-family: "iconos";
  content: "\e63f";
}
.btn.btn_reporte {
  background: #008fd5;
  padding: 0.2em;
}
.btn.btn_reporte:before {
  font-family: "iconos";
  content: "\e604";
}
.btn.btn_imprimir {
  background: #008fd5;
  padding: 0.2em;
}
.btn.btn_imprimir:before {
  font-family: "iconos";
  content: "\e647";
}
.icon-archivero {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}
.icon-archivero:before {
  font-family: "iconos";
  content: "\e60a";
}
.icon-nuevo {
  font-size: 14px;
}
.icon-nuevo:before {
  font-family: "iconos";
  content: "\e621";
}
.icon-cubiertos {
  font-size: 14px;
}
.icon-cubiertos:before {
  font-family: "iconos";
  content: "\e623";
}
.icon-ocupado {
  font-size: 14px;
  background: #df4639;
  color: #fff;
  padding: 0.3em;
}
.icon-ocupado:before {
  font-family: "iconos";
  content: "\e623";
}
.icon-libre {
  font-size: 14px;
  background: #2ecc71;
  color: #fff;
  padding: 0.3em;
}
.icon-libre:before {
  font-family: "iconos";
  content: "\e623";
}
.icon-calendar {
  font-size: 16px;
  font-weight: normal;
}
.icon-calendar:before {
  font-family: "iconos";
  content: "\e63a";
}
.icon-mapa {
  font-size: 16px;
  font-weight: normal;
}
.icon-mapa:before {
  font-family: "iconos";
  content: "\e636";
}
select {
  height: 28px;
}
.titulo_menu {
  font-size: 18px;
  font-weight: bold;
  height: 1.7em;
  color: #fff;
}
.titulo_menu.titulo_mesas {
  background: #008fd5;
}
.titulo_menu.titulo_productos {
  background: #213338;
}
.mesa_disponibilidad {
  background: #2ecc71;
  color: #fff;
  font-weight: bold;
}
.table_menu {
  background: #fff;
  font-weight: bold;
  width: 98.5%;
  margin: 0.5%;
  margin-top: 3px;
  margin-bottom: 3%;
  border: 1px solid #213338;
}
.table_menu .table_head {
  color: #fff;
  border: 1px solid #fff;
}
.table_menu .table_head tr th {
  height: 2em;
  font-size: 18px;
  background: #213338;
  border: 1px solid #213338;
}
.table_menu .table_head tr td {
  background: #2ecc71;
  border: 1px solid #213338;
  font-size: 16px;
  height: 1.5em;
}
.table_menu .table_head.table_head_gris tr th {
  height: 1.5em;
  background: #808080;
  color: #fff;
}
.table_menu .table_head.table_head_gris tr td {
  background: #efeee5;
  color: #213338;
}
.table_menu .table_head.table_head_verde tr th {
  background: #007196;
  color: #fff;
}
.table_menu .table_head.table_head_verde tr td {
  background: #1abc9c;
  color: #213338;
  border: 1px solid #213338;
}
.table_menu .table_head.table_head_azul tr th {
  background: #213338;
  color: #fff;
}
.table_menu .table_head.table_head_azul tr td {
  background: #efeee5;
  color: #213338;
  border: 1px solid #efeee5;
  border-bottom: 1px solid #213338;
}
.table_menu .table_head.table_head_azul_fuerte tr th {
  background: #007196;
  color: #fff;
}
.table_menu .table_head.table_head_azul_fuerte tr td {
  background: #efeee5;
  color: #213338;
  border: 1px solid #efeee5;
  border-bottom: 1px solid #213338;
  padding: 0.3em;
}
.table_menu .table_body tr td {
  background: #fff;
  border: 1px solid #213338;
  height: 2em;
}
.table_menu .table_body .fila_par td {
  background: #f9f9f9;
}
.table_menu .table_body .fila-secundaria td {
  background: #008fd5;
  color: #fff;
  border: 1px solid #213338;
  font-size: 16px;
  height: 1.7em;
}
.table_menu .table_body .fila-secundaria.fila_verde td {
  background: #1abc9c;
}
.table_menu .table_body .fila-secundaria.fila_verdoso td {
  background: #2ecc71;
}
.table_menu .table_body .fila_boton td {
  border: 2px solid #213338;
  height: 3em;
}
.table_menu .table_body.table_body_secundario tr td {
  height: 1.8em;
  font-weight: normal;
}
.table_menu .table_body.body_form tr td {
  border: 0;
}
.table_menu .table_body.body_form .fila_espacio,
.table_menu .table_body.body_form td {
  border: 1px solid #213338;
}
.select_categoria {
  color: #213338;
  height: 1.6em;
}
.select_formulario {
  color: #213338;
  width: 90%;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
}
.input_formulario {
  color: #213338;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
}
.input_busqueda {
  color: #213338;
  height: 1.2em;
}
.nav_busqueda {
  font-weight: bold;
  width: 98.5%;
  margin: 0.5%;
  margin-top: 3px;
  height: 2.6em;
  font-size: 15px;
  color: #fff;
  background: #213338;
  padding: 0;
}
.nav_busqueda ul {
  margin: 0;
}
.nav_busqueda ul li {
  margin-top: 8px;
  display: inline-block;
  margin-left: 10px;
}
.nav_busqueda ul .li-categoria {
  margin-left: 0px;
  position: absolute;
}
.nav_busqueda ul .li-buscar {
  margin-left: 300px;
}
.nav_busqueda ul .li-botonera {
  margin-left: 5%;
}
.nav_busqueda ul .li-mapa {
  margin-top: 10px;
  right: 40px;
  position: absolute;
}
.nav_busqueda.nav_menu_mesas {
  background: #007196;
}
.secciones {
  margin-left: 2.5%;
  width: 95%;
  height: 25%;
  margin-bottom: 3%;
}
.menu {
  text-align: center;
  background: #fff;
  height: 94%;
  margin: 0.3%;
}
.menu.Menu_Mesas {
  float: left;
  width: 30.4%;
  height: 94%;
}
.menu.Menu_Productos {
  margin-right: 0%;
  border: 1px solid #ccc;
  float: left;
  width: 20.4%;
  height: 94%;
}
.menu.categoria_productos {
  margin: 0.3%;
  margin-left: 0%;
  border: 1px solid #ccc;
  float: right;
  text-align: center;
  width: 78.5%;
  height: 94%;
}
.menu.mapa_mesas {
  margin-left: 0%;
  border: 1px solid #ccc;
  float: right;
  text-align: center;
  width: 68.5%;
  height: 94%;
}
.menu.seccion_reportes {
  margin-left: 1%;
  border: 1px solid #ccc;
  text-align: center;
  width: 98%;
  height: 94%;
}
.table_mesas {
  width: 100%;
  height: 85%;
  margin: 0;
}
.mesa {
  margin: 0;
  display: inline-block;
  text-decoration: none;
  padding: 0.5em;
  font-size: 30px;
  background: #df4639;
  width: 80px;
  height: 80px;
  border: 2px solid #213338;
  border-radius: 30px;
}
.mesa:after {
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
  font-family: "iconos";
  content: "\e623";
}
.mesa.libre {
  background: #2ecc71;
}
.mesa.ocupada {
  background: #df4639;
}
.mesa.grande {
  width: 200px;
}
.mesa.mediana {
  width: 130px;
}
.nav_principal {
  background: #1abc9c;
  margin: 0;
  border-bottom: 1px solid #000;
}
.nav_principal .menu_nav {
  margin: 0;
  overflow: hidden;
}
.nav_principal .menu_nav .li-logo {
  margin-right: 40px;
}
.nav_principal .menu_nav .sesion {
  margin-left: 40%;
  right: 80px;
  top: 3px;
  position: absolute;
}
.nav_principal .menu_nav li {
  display: inline-block;
}
.nav_principal .menu_nav li a {
  color: #fff;
  padding: 0.7em;
  margin: 0 0.8em;
  text-decoration: none;
  display: inline-block;
}
.nav_principal .menu_nav li .icon-inicio:before {
  color: #fff;
  font-size: 1.2em;
  font-family: "iconos";
  content: "\e600";
}
.nav_principal .menu_nav li .icon-restaurant:before {
  font-family: "iconos";
  content: "\e611";
}
.nav_principal .menu_nav li .icon-productos:before {
  font-family: "iconos";
  content: "\e602";
}
.nav_principal .menu_nav li .icon-reportes:before {
  font-family: "iconos";
  content: "\e604";
}
.nav_principal .menu_nav li .icon-config:before {
  font-family: "iconos";
  content: "\e60d";
}
.nav_principal .menu_nav li .icon-sesion:before {
  font-family: "iconos";
  content: "\e60b";
}
.nav_principal .menu_nav li .icon-sesion:after {
  font-family: "iconos";
  content: "\e61e";
}
/* CSS PARA PRODUCTOS*/
