@font-face {
  font-family: 'iconos';
  src: url("../fonts/icomoon.eot?gdpy57");
  src: url("../fonts/icomoon.eot?#iefixgdpy57") format('embedded-opentype'), url("../fonts/icomoon.woff?gdpy57") format('woff'), url("../fonts/icomoon.ttf?gdpy57") format('truetype'), url("../fonts/icomoon.svg?gdpy57#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
  margin: 0;
}
body {
  border: 0px;
  margin: 0;
  font-family: sans-serif;
  font-size: 15.4px;
  background: #e0e0e0;
  height: 100%;
}
.btn {
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid #34c6cd;
  background: #2ecc71;
  color: #fff;
  font-weight: bold;
}
.btn_eliminar {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  background: #f00;
  padding: 0.2em;
  margin: 1;
}
.btn_eliminar:before {
  font-family: "iconos";
  content: "\e61b";
}
.btn_editar {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  padding: 0.2em;
  margin: 1;
}
.btn_editar:before {
  font-family: "iconos";
  content: "\e601";
}
.btn_editar_azul {
  background: #007196;
}
.btn_agregar {
  background: #fff;
  color: #213338;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 0.3em;
}
.btn_agregar:before {
  font-family: "iconos";
  content: "\e621";
}
.btn_ver {
  background: #fff;
  color: #213338;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 0.3em;
}
.btn_ver:before {
  font-family: "iconos";
  content: "\e616";
}
select {
  height: 28px;
}
.titulo_menu {
  font-size: 18px;
  font-weight: bold;
  height: 1.7em;
  color: #fff;
}
.titulo_menu.titulo_mesas {
  background: #008fd5;
}
.titulo_menu.titulo_productos {
  background: #213338;
}
.mesa_disponibilidad {
  background: #2ecc71;
  color: #fff;
  font-weight: bold;
}
.table_menu {
  text-align: center;
  background: #fff;
  font-weight: bold;
  width: 98.5%;
  margin: 0.5%;
  margin-top: 3px;
}
.table_menu .table_head {
  color: #fff;
  border: 1px solid #fff;
}
.table_menu .table_head tr th {
  height: 2em;
  font-size: 18px;
  background: #213338;
  border: 1px solid #213338;
}
.table_menu .table_head tr td {
  background: #2ecc71;
  border: 1px solid #213338;
  font-size: 16px;
  height: 1.5em;
}
.table_menu .table_body tr td {
  background: #fff;
  border: 1px solid #213338;
  height: 2em;
}
.table_menu .table_body .fila_par td {
  background: #f9f9f9;
}
.table_menu .table_body .fila-secundaria td {
  background: #1abc9c;
  color: #fff;
  border: 1px solid #213338;
  font-size: 16px;
  height: 1.4em;
}
.select_categoria {
  color: #213338;
  height: 1.5em;
}
.nav_busqueda {
  font-weight: bold;
  width: 98.5%;
  margin: 0.5%;
  margin-top: 3px;
  height: 2.5em;
  font-size: 15px;
  color: #fff;
  background: #213338;
  padding: 0;
}
.nav_busqueda ul {
  margin: 0;
}
.nav_busqueda ul li {
  margin-top: 8px;
  display: inline-block;
}
.nav_busqueda ul .li-categoria {
  margin-left: 0px;
  position: absolute;
}
.nav_busqueda ul .li-buscar {
  margin-left: 300px;
}
.nav_busqueda ul .li-botonera {
  margin-left: 5%;
}
.secciones {
  margin-left: 5%;
  width: 90%;
  height: 25%;
  border: 1px solid #000;
  margin-bottom: 3%;
}
.submenu {
  height: 60%;
  margin-bottom: 50%;
}
.menu {
  text-align: center;
  background: #fff;
  height: 94%;
  margin: 0.3%;
}
.menu.Menu_Mesas {
  float: left;
  width: 20.4%;
  height: 94%;
}
.menu.Menu_Productos {
  margin-right: 0%;
  border: 1px solid #ccc;
  float: left;
  width: 20.4%;
}
.menu.categoria_productos {
  margin: 0.3%;
  margin-left: 0%;
  border: 1px solid #ccc;
  float: right;
  text-align: center;
  width: 78.5%;
  height: 94%;
}
.mapa_mesas {
  background: #fff;
  margin: 0.3%;
  margin-left: 0%;
  border: 1px solid #ccc;
  float: right;
  text-align: center;
  width: 78.5%;
  height: 94%;
}
.mapa_mesas table tr td {
  margin: 10px;
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  font-size: 50px;
  background: #e74c3c;
  width: 100px;
  height: 100px;
  border: 4px solid #34c6cd;
  border-radius: 30px;
}
.mapa_mesas table tr td:after {
  color: #fff;
  font-family: "iconos";
  content: "\e611";
}
.nav_principal {
  background: #1abc9c;
  margin: 0;
  border-bottom: 1px solid #000;
}
.nav_principal .menu_nav {
  margin: 0;
  overflow: hidden;
}
.nav_principal .menu_nav .li-logo {
  margin-right: 40px;
}
.nav_principal .menu_nav .sesion {
  margin-left: 40%;
  right: 80px;
  top: 3px;
  position: absolute;
}
.nav_principal .menu_nav li {
  display: inline-block;
}
.nav_principal .menu_nav li a {
  color: #fff;
  padding: 0.7em;
  margin: 0 0.8em;
  text-decoration: none;
  display: inline-block;
}
.nav_principal .menu_nav li .icon-inicio:before {
  color: #fff;
  font-size: 1.2em;
  font-family: "iconos";
  content: "\e600";
}
.nav_principal .menu_nav li .icon-restaurant:before {
  font-family: "iconos";
  content: "\e611";
}
.nav_principal .menu_nav li .icon-productos:before {
  font-family: "iconos";
  content: "\e602";
}
.nav_principal .menu_nav li .icon-reportes:before {
  font-family: "iconos";
  content: "\e604";
}
.nav_principal .menu_nav li .icon-config:before {
  font-family: "iconos";
  content: "\e60d";
}
.nav_principal .menu_nav li .icon-sesion:before {
  font-family: "iconos";
  content: "\e60b";
}
.nav_principal .menu_nav li .icon-sesion:after {
  font-family: "iconos";
  content: "\e61e";
}
/* CSS PARA PRODUCTOS*/
